.fa-microphone {
    cursor: pointer;
}

.entek-recorder-status-true {
    color: rgb(9, 141, 9);
}

.entek-recorder-status-false {
    color: #aa2727;
}

.entek-voice-recorder-audio-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.entek-voice-recorder-audio-item i {
    color: red;
    cursor: pointer;
    padding-left: 5px;
}